:root {
  --color-main: rgba(255, 255, 255, 0.87);
  --color-bg: #242424;
  --color-accent: #07773f;
  --color-accent-hover: #097751;
  --color-heading: #6d0721;
  --color-button-bg: #1a1a1a;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-main);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family:system-ui;
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, p {
  color: var(--color-heading);
}

hr{
  border-color: var(--color-accent-hover);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: #226405;
    --color-bg: #ffffff;
    --color-heading: #025628;
    --color-accent-hover: #076930;

    color: var(--color-main);
    background-color: var(--color-bg);
  }
  h1 h2 h3 p{
    color: var(--color-heading);
  }

  hr {
    border-color: var(--color-accent-hover);
  }
  ²
  a:hover {
    color: var(--color-accent-hover);
  }
}
